In [ ]:
!pip install selenium
!pip install webdriver-manager
!pip install pandas

In [ ]:
import time

from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys

driver = webdriver.Chrome()
driver.get(f"https://www.imdb.com/search/title/?release_date=2024-01-01,2024-12-31&count=250");

body=driver.find_element(By.TAG_NAME,'body')
for i in range(9):
    for j in range(120):
        body.send_keys(Keys.PAGE_DOWN)
    for k in range(1):
        body.send_keys(Keys.PAGE_UP)
    time.sleep(5)
    driver.find_element(By.XPATH, "//span[contains(text(),'250 more')]").click()
    time.sleep(10)

all_movies={}
movie_name = driver.find_elements(By.XPATH,"//div[@class='ipc-title ipc-title--base ipc-title--title ipc-title-link-no-icon ipc-title--on-textPrimary sc-495ef71a-2 cpvJUg dli-title with-margin']")
movie_name_storyline = driver.find_elements(By.XPATH,"//div[@class='ipc-html-content-inner-div']")
    
for movie,movie_story in zip(movie_name,movie_name_storyline):
    all_movies[movie.text]=movie_story.text

In [ ]:
#Convert to dataframe
df = pd.DataFrame(list(all_movies.items()), columns=["Movie_Title", "Storyline"])
df

,Movie Title,Storyline
0,1. Solo Leveling,Follows the adventures of Sung Jinwoo in a wor...
1,2. Anora,A young stripper from Brooklyn meets and impul...
2,3. Mufasa: The Lion King,"Mufasa, a cub lost and alone, meets a sympathe..."
3,4. A Complete Unknown,"In 1961, an unknown 19-year-old Bob Dylan arri..."
4,5. Ludwig,While seeking to unravel the mystery of his tw...
...,...,...
2219,2220. Gracie and Pedro: Pets to the Rescue,"Adam Normandy, an alpha, suffers from a heart ..."
2220,2221. Familiar Touch,Late 1990s. Art and culture are in full swing ...
2221,2222. The Past Comes Knocking,"After terrorists hijack a passenger plane, an ..."
2222,2223. Giannis: The Marvelous Journey,"In the gold bust town of Red Ridge, a haunted ..."
2223,2224. Midnight Family,Ancient Taoists travel through time and space ...

In [ ]:
#Save as CSV in local
df.to_csv(r'D:\Anto\Project\Project5\Movie_data.csv')